---
layout: page
title: "Post Archive"
permalink: /archive.html
---

<div>
  {%- if page.tag -%}
    <h1>Posts Tagged: #{{ page.tag }}</h1>
  {%- else -%}
    <h1>All Tags</h1>
    <div>
      <p>Please select a tag from the list or click on a tag in a post.</p>
    </div>
  {%- endif -%}
</div>

<div id="tags-list">
  {%- if page.tag -%}
    {% assign selected_tag = page.tag | downcase %}
    <ul class="post-list post-list-narrow">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {% for post in site.tags[selected_tag] %}
      <li>
        <b>
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </b> - <i>{{ post.date | date: date_format }}</i>
      </li>
      {% endfor %}
    </ul>
  {%- else -%}
    {% for tag in site.tags %}
      {% assign tag_name = tag | first %}
      {% assign tag_name_pretty = tag_name | replace: "_", " " | capitalize %}
      <div class="tag-list">
        <h3 class="post-list-heading line-bottom">
          <a href="/archive.html?tag={{ tag_name | slugize }}">#{{ tag_name }}</a>
        </h3>
      </div>
    {% endfor %}
  {%- endif -%}
</div>
